.domestika-full-width {
  max-width: 100% !important;
  margin: 0 auto !important;
}
.col-md-3.hide-menu {
  display: none !important;
}

.course-trailer-footer__tool {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
button.adjustWidthBtn:hover {
  text-decoration: underline;
}
